* {
  padding: 0px;
  margin: 0px;
}

.app {
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  width: 200px;
  padding: 6px;
}
.app p {
  background-color: black;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.app p span {
  background-color: gray;
  padding: 4px;
  margin: 4px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttons button {
  height: 30px;
  width: 45%;
  background-color: black;
  border: none;
  outline: none;
}
